/* ===========================================
   SELLER LAYOUT
   SAME STRUCTURE AS VENDOR
=========================================== */


.seller-layout{

    display:flex;

    min-height:100vh;

    background:#f8fcf9;

}



/* CONTENT AREA */

.seller-content{

    margin-left:270px;

    flex:1;

    min-height:100vh;

    display:flex;

    flex-direction:column;

    background:
    linear-gradient(
        135deg,
        #f8fcf9,
        #e8fff1
    );

}



/* PAGE AREA */

.seller-page{

    flex:1;

    padding:30px 35px;

    background:
    linear-gradient(
        135deg,
        #f8fcf9,
        #e8fff1
    );

}